@using Poc.RCL.Models

<div class="kpi-dashboard-row">
    <TotalMessagesCard Data="MessagesTotalDto" />

    @foreach (var kpiGroup in KpiGroups)
    {
        <KpiCard Data="kpiGroup" OnFilter="HandleFilter" />
    }
</div>

<MessagesGrid Data="_filteredMessages"
              TotalCount="_allMessages.Count"
              OnClearFilter="HandleClearFilter" />
